.user {
    flex: 4;
    padding: 20px;
}

.userTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddBtn {
    width: 80px;
    font-size: 16px;
    font-weight: 400;
    border: #fff;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;

}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
.userUpdateInput{
    border:none;
    width: 250px;
    height: 30px;
    border-bottom: 2px solid rgb(110, 104, 104);
    outline: none;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}
.userContainer {
    display: flex;
    margin-top: 20px;
}

.userShow {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: -1px 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 2px 3px rgba(0, 0, 0, 0.3);

}

.userUpdate {
    flex: 2;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 0px 2px 3px rgba(0, 0, 0, 0.3);
    margin-left: 20px;

}

.userShowTop {
    display: flex;
    align-items: center;
}

.userShowImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600; 
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: #555;

}
.usherShowBottom{
   margin-top: 20px; 
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #444;
}
.userShowIcon{
    font-size: 16px !important;

}
.userShowInfoTitle{
     margin-left: 10px;
}
.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;

}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
}
.userUpdateIcon{
    cursor: progress;
}
.userUpdateButton{
    background-color: rgb(74, 74, 189);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}